*{
    position: absolute;
}

#quadrado {
    z-index: 2;
    display: flex;

    background: red;
    opacity: 0;

    width: 300px;
    height: 200px;
}

#circulo {
    display: flex;

    background: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#quadrado:hover{
    opacity: 1;
    animation: go-back 1s;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quadrado {
    background: red;
    width: 50px;
    height: 50px;
    animation: go-back 2s;
  }
  
  @keyframes go-back {
    from {
      transform: translateX(-100px);
    }
    to {
      transform: translateX(100px);
    }
  } 
  